In [1]:
import os
import scanpy as sc

if not os.path.exists("paul15_small.h5ad"):
    adata = sc.datasets.paul15()
    adata.write("paul15_small.h5ad")
else:
    adata = sc.read("paul15_small.h5ad")

In [10]:
sc.pp.normalize_total(adata, target_sum=1e4)
sc.pp.log1p(adata)
sc.pp.pca(adata)
sc.pp.neighbors(adata)
sc.tl.leiden(adata, key_added = "clusters") 

sc.tl.rank_genes_groups(adata, groupby='clusters', method='t-test')

WARNING: adata.X seems to be already log-transformed.

In [11]:
adata.obs

       paul15_clusters leiden clusters
W31105            7MEP      3        5
W31106            15Mo      2        0
W31107            3Ery      7        2
W31108            15Mo      2        7
W31109            3Ery      0        2
...                ...    ...      ...
W39164            2Ery      0        2
W39165          13Baso      2        0
W39166            7MEP      3        5
W39167            15Mo      2        7
W39168            3Ery      7        2

[2730 rows x 3 columns]

In [ ]:
# Load and preprocess your data
adata.var["gene_symbols"] = adata.var_names

# We compute the clusters as suggested by the tutorial
# However, this produces 10 clusters. We are going to use the 19 
# clusters from the original paper, which are stored in the `paul15_clusters` column.
sc.pp.normalize_total(adata, target_sum=1e4)
sc.pp.log1p(adata)
sc.pp.pca(adata)
sc.pp.neighbors(adata)
sc.tl.leiden(adata) 
sc.tl.rank_genes_groups(adata, groupby='paul15_clusters', method='t-test')